<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DesignersArtistry - <%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="/images/logo.png">
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="select-none">

    <header class="w-full h-20 md:h-[150px] py-2 border-b border-orange-500 flex flex-col justify-center">

        <div class="w-full">

            <div class="flex items-center justify-between px-10">

                <div class="lg:hidden w-full flex items-center">
                    <button><i class="ri-menu-line text-2xl text-black" id="slider"></i></button>
                </div>

                <a href="/">

                    <div>

                        <img src="/images/logo.png" alt="logo" class="w-52 md:w-96 lg:w-52" style="mix-blend-mode: multiply;">

                    </div>
                    
                </a>

                <div class="flex items-center justify-end gap-2 w-full">
                    
                    <a href="/login"><i class="ri-user-line text-2xl"></i></a>
                    <a href="/cart"><i class="ri-shopping-cart-line text-2xl text-black cursor-pointer"></i></a>

                </div>

            </div>

        </div>

    </header>

    <div class="w-full h-10  lg:flex lg:items-center lg:justify-between bg-orange-500 text-white font-semibold hidden relative">

        <div class="flex items-center w-full">

            <% categories.forEach(function(category) { %>

                <div class="grouper w-full h-full flex justify-evenly">
    
                    <a href="/category/<%= category._id %>" class="h-10 flex items-center hover-link w-fit"><%= category.name %></a>
    
                    <div class="hover-div h-96 flex flex-col flex-wrap gap-3 p-5">
                        
                        <% category.subCategory.forEach(function(subCategory) { %>
                            
                            <a href="/subcategory/<%= subCategory %>" class="text-sm font-medium w-fit"><%= subCategory %></a>
    
                        <% }) %>

                    </div>
    
                </div>
    
            <% }) %>

        </div>

    </div>

    <nav class="fixed top-0 bottom-0 -left-full flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto sidebar z-10">

        <div class="flex items-center mb-8">
            
            <a class="mr-auto text-xl font-bold leading-none">Menu</a>

            <button><i class="ri-close-line text-2xl" id="close"></i></button>

        </div>

        <div>

            <ul>
                <% categories.forEach(function(category) { %>

                    <li class="mb-1">
                        <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-orange-50 hover:text-orange-600 rounded" href="/category/<%= category._id %>"><%= category.name %></a>
                    </li>
        
                <% }) %>
            </ul>

        </div>

        <div class="mt-auto">

            <p class="my-4 text-xs text-center text-gray-400">
                <span>© 2024 DesignerArtistry - All Rights Reserved</span>
            </p>

        </div>

    </nav>

<script>
    document.getElementById("slider").addEventListener('click', function(){
        document.querySelector(".sidebar").style.left = 0;
    })
    document.getElementById("close").addEventListener('click', function(){
        document.querySelector(".sidebar").style.left = "-100%"
    })

    document.getElementById("makeuplink").addEventListener('mousemove', function () {
        setTimeout(() => {
            document.getElementById("makeupdiv").style.display = "flex";
            document.getElementById("makeupdiv").style.opacity = 1;
        }, 5);
    })

    document.getElementById("makeuplink").addEventListener('mouseleave', function () {
        document.getElementById("makeupdiv").style.display = "none";
        document.getElementById("makeupdiv").style.opacity = 0;
    })

</script>