<%- include ('./partials/ownerheader') %>

<% if(success.length>0){ %>
    <div class="fixed bottom-2 z-10 right-2 p-3 rounded-md bg-pink-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= success %>
        </span>
    </div>
<% } %>

<% if(error.length>0){ %>
    <div class="fixed bottom-2 z-10 right-2 p-3 rounded-md bg-red-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
<% } %>

<div x-data="{ sidebarOpen: false }" class="flex h-screen">

    <div :class="sidebarOpen ? 'block' : 'hidden'" @click="sidebarOpen = false" class="fixed inset-0 z-20 transition-opacity bg-black opacity-50 lg:hidden"></div>

    <div :class="sidebarOpen ? 'translate-x-0 ease-out' : '-translate-x-full ease-in'" class="inset-y-0 left-0 z-30 w-64 transition duration-300 transform bg-gray-900 lg:translate-x-0 lg:inset-0 absolute lg:relative h-[90%] lg:h-full">

        <div class="flex items-center justify-center mt-8">

            <div class="flex items-center">
                
                <span class="mx-2 text-2xl font-semibold text-white">Admin Dashboard</span>

            </div>

        </div>

        <nav class="mt-10">

            <a class="flex items-center px-6 py-2 mt-4 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100" href="/owners/admin">

                <i class="ri-dashboard-fill text-2xl"></i>
                <span class="mx-3">Dashboard</span>

            </a>

            <a class="flex items-center px-6 py-2 mt-4 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100"
                href="/owners/orders">
                
                <i class="ri-shopping-cart-2-fill text-2xl"></i>
                <span class="mx-3">Orders</span>

            </a>

            <a class="flex items-center px-6 py-2 mt-4 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100"
                href="/">

                <i class="ri-shopping-bag-fill text-2xl"></i>
                <span class="mx-3">Shop</span>

            </a>

            <a class="flex items-center px-6 py-2 mt-4 text-gray-100 bg-gray-700 bg-opacity-25"
                href="/owners/products">
                
                <i class="ri-shopping-bag-3-fill text-2xl"></i>
                <span class="mx-3">Products</span>

            </a>

            <a class="flex items-center px-6 py-2 mt-4 text-gray-500 hover:bg-gray-700 hover:bg-opacity-25 hover:text-gray-100"
                href="/owners/createproducts">
                
                <i class="ri-add-line text-2xl"></i>
                <span class="mx-3">Create Products</span>

            </a>

        </nav>

        <a class="flex items-center px-6 py-2 mt-4 text-white bg-red-500 absolute bottom-5 w-full" href="/users/logout">
                
                <i class="ri-arrow-right-circle-fill text-2xl"></i>
                <span class="mx-3">Logout</span>

        </a>

    </div>

    <div class="flex flex-col flex-1 overflow-hidden left-0 lg:relative w-screen">

        <header class="flex items-center justify-between px-6 py-4 bg-white border-b-4 border-pink-500">

            <div class="flex items-center">

                <button @click="sidebarOpen = true" class="text-gray-500 focus:outline-none lg:hidden">

                    <i class="ri-menu-line text-2xl"></i>

                </button>

            </div>

            <a href="/"><h1 class="text-2xl">Miss Beauty</h1></a>

            <div class="flex items-center">

                <div x-data="{ dropdownOpen: false }" class="relative">

                    <button @click="dropdownOpen = ! dropdownOpen"
                        class="relative block w-8 h-8 overflow-hidden rounded-full shadow focus:outline-none">

                        <img class="object-cover w-full h-full" src="/images/tmamu.jpg" alt="Image">

                    </button>

                    <div x-show="dropdownOpen" @click="dropdownOpen = false" class="fixed inset-0 z-10 w-full h-full"
                        style="display: none;"></div>

                    <div x-show="dropdownOpen"
                        class="absolute right-0 z-10 w-48 mt-2 overflow-hidden bg-white rounded-md shadow-xl"
                        style="display: none;">

                        <a href="/owners/admin" class="block px-4 py-2 text-sm text-gray-700 hover:bg-pink-500 hover:text-white">Dashboard</a>

                        <a href="/" class="block px-4 py-2 text-sm text-gray-700 hover:bg-pink-500 hover:text-white">Shop</a>

                        <a href="/owners/products" class="block px-4 py-2 text-sm text-gray-700 hover:bg-pink-500 hover:text-white">Products</a>

                        <a href="/owners/orders" class="block px-4 py-2 text-sm text-gray-700 hover:bg-pink-500 hover:text-white">Orders</a>

                        <a href="/owners/createproducts" class="block px-4 py-2 text-sm text-gray-700 hover:bg-pink-500 hover:text-white">Create Products</a>

                        <a href="/users/logout" class="block px-4 py-2 text-sm text-white bg-red-500">Logout</a>

                    </div>

                </div>

            </div>

        </header>

        <main class="flex-1 overflow-x-hidden overflow-y-auto">

            <div class="p-6 flex flex-wrap items-center justify-center gap-5 relative wrapper">

                <% products.forEach(function(product){ %>
                    <div class="w-36 h-52 mb-10">
                        <a href="/owners/products/<%= product._id %>">
                            <div class="relative flex items-end overflow-hidden w-full h-32">
                                <img src="data:image/jpeg;base64,<%= product.image[0].toString('base64') %>" class="w-full h-full" alt="">
                            </div>
                        </a>
                        <div class="py-4 text-black w-full">
                            <div class="w-full">
                                <div>
                                    <a href="/owners/products/<%= product._id %>">
                                        <h1 class="text-md  whitespace-nowrap overflow-hidden text-ellipsis text-center"><%= product.name %></h1>
                                    </a>
                                </div>
                                <div class="flex justify-center w-full">
                                    <h4 class="flex items-center gap-1">
                                        <p>
                                            <% if(product.discount){ %> 
                                            <p class="line-through text-zinc-500">
                                                Rs.<%= product.price %>
                                            </p>
                                            <% } else{ %><% } %> 
                                            <p class="text-pink-700 font-semibold">
                                                Rs.<%= product.price - product.discount %>
                                            </p>
                                        </p>
                                    </h4>
                                </div>
                            </div>
                            <% if(product.stock >= 1) { %>
                                <a class="w-full h-7 flex items-center justify-center bg-white text-black gap-2 mt-1">
                                <h2>In Stock</h2>
                                <i class="ri-shopping-cart-2-line"></i>
                                </a>
                            <% } else { %>
                                <a class="w-full h-7 flex items-center justify-center bg-red-500 text-white gap-2 mt-1 cursor-not-allowed">
                                    <h2>Sold Out</h2>
                                </a>
                            <% } %>
                        </div>
                    </div>
                <% }) %>
        
            </div>

        </main>

    </div>

</div>