<%- include ('./partials/ownerheader') %>

<div class="px-10 py-10 flex justify-between">

    <div class="w-[15%] flex h-screen flex-col">
        <a href="/" class="px-2 py-2 rounded-md mb-1" style="border: 2px solid pink;">Shop</a>
        <a href="/owners/products" class="px-2 py-2 rounded-md mb-1" style="border: 2px solid pink;">Products</a>
        <a href="/owners/orders" class="px-2 py-2 rounded-md mb-1" style="border: 2px solid pink;">Orders</a>
        <a href="/owners/admin" class="px-2 py-2 rounded-md mb-1" style="border: 2px solid pink;">Create Products</a>
        <a class="bg-red-500 text-white px-3 py-3 font-semibold rounded-lg" href="/users/logout">Logout</a>
    </div>

    <main class="w-3/4 bg-white p-8 shadow ml-4">
        <h2 class="text-xl font-bold mb-4">Edit Product</h2>
        <form autocomplete="off" action="/owners/products/<%= product._id %>/edit" method="post">
            <div class="mb-6">
                <h3 class="text-lg font-semibold mb-2">Product Details</h3>
                <div class="grid grid-cols-4 gap-4">
                    <label for="name">Product's Name</label>
                    <input name="name" type="text" value="<%= product.name %>" class="border p-2 rounded w-full">
                    <label for="price">Product's Price</label>
                    <input name="price" type="number" value="<%= product.price %>" class="border p-2 rounded w-full">
                    <label for="discount">Product's Discount</label>
                    <input name="discount" type="number" value="<%= product.discount %>" class="border p-2 rounded w-full">
                    <label for="brand">Product's Brand</label>
                    <input name="brand" type="text" value="<%= product.brand %>" class="border p-2 rounded w-full">
                    <label for="stock">Product's Stock</label>
                    <input name="stock" type="number" value="<%= product.stock %>" class="border p-2 rounded w-full" placeholder="0">
                </div>
                <label for="description">Product's Description</label>
                    <textarea name="description" type="text" class="border p-2 rounded w-full mt-4" rows="15"><%= product.description %></textarea>
            </div>
            <input class="px-5 py-2 rounded mt-3 bg-pink-500 text-white cursor-pointer" type="submit"
                value="Update Product">
            </form>
            <form action="/owners/product/<%= product._id %>/delete" method="POST">
                <input class="px-5 py-2 rounded mt-3 bg-red-500 text-white cursor-pointer" type="submit" value="Delete Product">
            </form>
    </main>

</div>

<%- include('./partials/footer') %>