<%- include ('./partials/header') %>

<% if(success.length > 0) { %>
    <div class="fixed bottom-2 z-10 right-2 p-3 rounded-md bg-orange-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= success %>
        </span>
    </div>
<% } %>

<% if(error.length > 0) { %>
    <div class="fixed bottom-2 z-10 right-2 p-3 rounded-md bg-red-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
<% } %>

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>

    <div class="h-full p-8"> 

        <div class="my-4 flex flex-col 2xl:flex-row space-y-4 2xl:space-y-0 2xl:space-x-4">

            <div class="w-full flex flex-col 2xl:w-1/3">

                <div class="flex-1 bg-white rounded-lg shadow-xl p-8">

                    <h4 class="text-xl text-gray-900 font-bold w-full text-center">My Account</h4>

                    <form>

                        <ul class="mt-2 text-gray-700">

                            <li class="flex border-y py-2">

                                <span class="font-bold w-24">Name:</span>
                                <input class="text-gray-700 w-full outline-none" value="<%= user.fullname %>">

                            </li>

                            <li class="flex border-b py-2">

                                <span class="font-bold w-24">Email:</span>
                                <input class="text-gray-700 w-full outline-none" value="<%= user.email %>">

                            </li>

                            <li class="flex border-b py-2">

                                <span class="font-bold w-24">Contact:</span>
                                <input class="text-gray-700 w-full outline-none" value="  <%= user.contactNumber ? user.contactNumber : '' %>" placeholder="Contact Number">

                            </li>

                            <li class="flex border-b py-2">

                                <span class="font-bold w-24">Address:</span>
                                <input class="text-gray-700 w-full outline-none" value="  <%= user.address ? user.address : '' %>" placeholder="Address">

                            </li>
                            
                            <li class="flex py-2 justify-center">

                            </li>

                        </ul>

                    </form>

                </div>

                <div class="flex items-center justify-center gap-5 mt-5 w-full">

                    <a href="/users/my-orders" class="py-2 px-4 rounded-md bg-orange-500 text-white w-1/2 text-center md:w-1/4">View Orders</a>
                    <a href="/users/logout" class="py-2 px-4 rounded-md bg-red-500 text-white w-1/2 text-center md:w-1/4">Logout</a>

                </div>


            </div>

        </div>

    </div>

<div class="absolute w-full bottom-0"><%- include ('./partials/footer') %></div>