<%- include('./partials/header') %>

<% if(success.length > 0) { %>
    <div class="fixed bottom-2 z-10 right-2 p-3 rounded-md bg-pink-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= success %>
        </span>
    </div>
<% } %>

<% if(error.length > 0) { %>
    <div class="fixed bottom-2 z-10 right-2 p-3 rounded-md bg-red-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
<% } %>

<section class="py-10">

    <div class="p-6 whitespace-nowrap overflow-x-auto overflow-y-hidden flex wrapper relative scroll-smooth">

        <% products.forEach(function(product) { %>

            <div class="w-40 mr-2">
    
            <a href="/<%= product._id %>">
    
                <div class="relative flex items-end overflow-hidden w-full h-32">

                    <img src="data:image/jpeg;base64,<%= product.image.toString('base64') %>" alt="Product Image" class="w-full h-full" />

                </div>

                <div class="mt-2 flex flex-col overflow-hidden">

                    <h2 class="text-slate-700 text-md text-center px-5 overflow-hidden"><%= product.name %></h2>
                    <% if (product.brand) { %>
                        <p class="mt-1 text-sm text-slate-400 text-center hidden">
                            by <%= product.brand %>
                        </p>
                    <% } %>

                    <div class="flex flex-col items-center justify-between w-full">

                        <p class="text-sm font-bold mb-1 text-pink-400">
                            Rs.<%= product.price - product.discount %>
                        </p>

                        <% if(product.stock >= 1) { %>
                        <a class="flex items-center space-x-1.5 bg-pink-500 px-4 py-1.5 w-full text-white duration-100 hover:bg-pink-600" href="/addtocart/<%= product._id %>">
                            <i class="ri-shopping-cart-line"></i>
                            <button class="text-sm">Add to cart</button>
                        </a>

                        <% } else { %>
                                <a class="flex items-center space-x-1.5 bg-pink-500 px-4 py-1.5 w-full text-white duration-100 hover:bg-pink-600 cursor-not-allowed">
                                <i class="ri-shopping-cart-line"></i>
                                <button class="text-sm">Sold Out</button>
                            </a>
                        <% } %>

                    </div>

                </div>
    
            </a>
    
            </div>

        <% }) %>
            
    </div>

</section>

<script>

    let wrapper = document.querySelector(".wrapper");
    let nextBtn = document.getElementById("nextBtn");
    let backBtn = document.getElementById("backBtn");

    wrapper.addEventListener("mousemove", function(){
        nextBtn.style.display = "flex";
        backBtn.style.display = "flex";
    })

    wrapper.addEventListener("mouseleave", function(){
        nextBtn.style.display = "none";
        backBtn.style.display = "none";
    })

    nextBtn.addEventListener("click", function(){
        wrapper.scrollLeft += 10000;
    })

    backBtn.addEventListener("click", function(){
        wrapper.scrollLeft -= 10000;
    })

</script>

<%- include('./partials/footer') %>
